[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
	branch = master
[submodule "qemu"]
	path = qemu
	url = https://gitlab.com/qemu-project/qemu.git
	branch = master
[submodule "gdb-dashboard"]
	path = gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
	branch = master
